body {
	background-color: #CCEEEE;
	margin: 0;
}

a {
	text-decoration: none;
}

button,input {
	font-size: 10pt;
}

#map {
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 0;
	float: left;
}

.map {
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 0;
	float: left;
}

.logisticsImage {
	width: 200px;
	height: 200px;
}

.container {
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}

.header {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	clear: both;
	background-image: url(../image/bar.png);
}

.title {
	margin: 30px 330px;
	font-size: 30px;
	float: left;
	width: 250px;
}

.weather {
	float: right;
}

.header ul {
	float: right;
	width: 380px;
	margin: 40px 40px 0 40px;
}

.header ul li {
	float: left;
	list-style: none;
	margin: 0 5px;
}

.navList {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	clear: both;
}

.navList ul {
	margin: 0 auto;
	padding: 0;
	width: 1100px;
	height: 100%;
}

.navList ul li {
	float: left;
	list-style: none;
	width: 25%;
	text-align: center;
	height: 100%;
}

.navList ul li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 22px;
	text-align: center;
	line-height: 40px;
	font-family: "Hiragino Sans GB", "Microsoft YaHei",
		"WenQuanYi Micro Hei", "ºÚÌå", sans-serif;
}

.main {
	width: 1100px;
	margin: 0px auto;
	clear: both;
	height: 400px;
}

.mainBody {
	width: 100%;
	float: left;
}

.footer {
	clear: both;
	width: 1100px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	padding: 40px;
}

.logisticsList {
	clear: both;
}

.logistics {
	float: left;
	width: 200px;
	margin: 10px 20px;
	border: 1px black solid;
	text-align: center;
}

.detail_table {
	border: 1px solid #d4dbe1;
	border-collapse: collapse;
	margin: 5px 0px 0px 0px;
	width: 100%;
	text-align: center;
}

.detail_table1 {
	border: 1px solid gray;
	border-collapse: collapse;
	margin: 3px 0px 0px 0px;
	width: 100%;
}

.detail_table1 td {
	color: #000;
	border: 1px solid gray;
	border-left: 0px solid gray;
	border-bottom: 1px solid gray;
	vertical-align: middle;
}

.detail_table td {
	color: #000;
	line-height: 24px;
	border: 1px solid #BBD6F4;
	border-left: 0px solid #BBD6F4;
	border-bottom: 1px solid #BBD6F4;
}

.detail_table2 {
	border: 1px solid black;
	margin: 3px 0px 0px 0px;
	width: 100%;
}

.detail_table2 td {
	color: #000;
	border: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	vertical-align: middle;
}